# AgencyOS Environment Variables
DATABASE_URL="postgresql://postgres:password@localhost:5432/clients.cloudcrafts.net?schema=public"
DB_NAME="clients.cloudcrafts.net"
PORT=3001
JWT_SECRET="agencyos-enterprise-secret-key-2026"
